* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: vazir;
    src: url("../fonts/vazir/vazir-fd.woff2"), url('../fonts/vazir/vazir.woff2');
}


body {
    font-family: vazir !important;

}


a {
    text-decoration: none !important;
    color: black;
}

a:hover {
    color: #3498db;
}


.header-img {
    height: 60px;
}

.m-icon {
    vertical-align: bottom;
}


.header-icon {
    font-size: 50px;
    color: #3498db;
}

.header-icon-text {
    font-size: 16px;
}

/*nav.navbar{*/
/*    border-bottom: solid 1px black;*/
/*}*/

.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus {
    box-shadow: 0 0;
}

.language, .login {
    padding-right: 10px;
    font-weight: bold;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: #3498db !important;
}

.navbar .has-mega-menu {
    position: static !important;
}

.mega-menu {
    background-color: #f3f3f3;
    padding: 20px;
    min-width: 100%;
    border: 0;
    border-radius: 0 0 5px 5px;
    position: absolute;
}

.mega-menu .col {
    margin-right: 30px;
}

.dropdown-menu-header {
    border-bottom: solid 2px black;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-left: 30px;
}

.navbar .dropdown-item:hover {
    background-color: unset;
    color: #3498db;
}

/*.navbar .dropdown:hover .dropdown-menu{*/
/*    display: block;*/
/*}*/

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
}

.advanced-search {
    border-bottom: solid 3px #1e3799;
    margin: 100px 0;
}

.advanced-search input:focus {
    box-shadow: 0 0;
}

.advanced-search span {
    color: #0c2461;
}

.advanced-search input::placeholder, .advanced-search input {
    color: #4a69bd !important;
}

.uk-slideshow-items-big {
    height: 70vh !important;
}

.announcements-wrapper {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    transition: all 1s ease;
}

.announcements-wrapper:hover {
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .4) !important;
}

.announcement-header {
    margin: 15px 0;
}

.announcements {
    list-style-type: none;
    overflow-y: scroll;
    max-height: 400px;
}

/*.announcements:hover{*/
/*    overflow-y: scroll;*/
/*}*/

.announcements li {
    border-bottom: solid 1px silver;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}

.announcement-date {
    margin: 10px 0;
}

.announcement-date .material-icons {
    color: #3498db;
}

.announcements::-webkit-scrollbar {
    width: 3px;
}

.announcements::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.announcements::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.announcements::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.my-title {
    color: #3434a2;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}


.nav-tabs-vertical .nav-link{
    color: black !important;
    border: 0;
    border-radius: 5px 0 0 5px;
}
.nav-tabs-vertical .nav-link.active{
    border: solid 1px white;
    border-right: solid 1px transparent;
    box-sizing: border-box;
    /*margin-right: -10px;*/
    z-index: 10;
    /*background-color: transparent;*/
}

.nav-tabs-vertical{
    border: 0 ;
    display: flex;
    flex-direction: column;
}

.nav-tabs-vertical ~ .tab-content{
    border: solid 1px white;
    border-radius: 0 5px 5px 0 ;
    margin-bottom: -1px;
}


.category-wrapper {
    height: 100%;
    padding: 20px;
    background: rgb(148,187,233);
    background: linear-gradient(90deg, rgba(148,187,233,1) 8%, rgba(191,193,204,1) 43%, rgba(211,196,223,1) 80%);
}

/*.category-wrapper .nav-pills{*/
/*    !*margin: 10px 20px;*!*/
/*    border-radius: 0;*/

/*}*/

/*.category-wrapper .nav-pills .active{*/
/*    background-color: white !important;*/
/*    font-weight: bold;*/
/*    border-radius: 0;*/
/*    !*position: relative;*!*/
/*}*/




/*!* add a after class for nav-pills .active *!*/

/*.category-wrapper .nav-pills .nav-link:hover{*/
/*    color: unset !important;*/
/*    font-weight: bold;*/
/*}*/

/*.category-wrapper .tab-content{*/
/*    !*margin: 25px;*!*/
/*}*/

.sub-category-btn{
    width: 75px;
    height: 75px;
    padding: 15px;
    margin: 15px;
    background-color: white;
    color: black;
    border: 0;
    border-radius: 100%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    transition: all .5s ease;
}

.sub-category-btn:hover{
    transform: scale(1.1, 1.1);
    /*transition: all .5s;*/
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .4) !important;
}

.sub-category-btn .material-icons, .sub-category-btn .fas{
    font-size: 50px;
}

.sub-category-btn .svg{
    filter:grayscale(100%) invert(37%) sepia(10%) saturate(420%) hue-rotate(169deg) brightness(98%) contrast(87%);
}

.sub-category-btn:hover img.svg{
    filter: invert(51%) sepia(100%) saturate(1571%) hue-rotate(178deg) brightness(93%) contrast(83%);
}


.sub-category-btn:hover .material-icons, .sub-category-btn:hover .fas{
    color: #3498db;
}

.data-table {
    height: 100%;
    background: rgb(211, 196, 223);
    background: linear-gradient(90deg, rgba(211, 196, 223, 1) 3%, rgba(191, 193, 204, 1) 43%, rgba(148, 187, 233, 1) 80%);
}

.data-table .uk-table td{
    font-size: 13px;
}

.slider-gradiant{
    width: 60%;
    margin: auto;
}

.slider-gradiant a[uk-slider-item]{
    color: black !important;
    border-radius: 100%;
    background-color: whitesmoke;
    padding: 15px 20px;
}

.slider-gradiant .uk-slider-container a li{
    padding: 20px 0;
}

.slider-gradiant .uk-slider-container a .uk-panel{
    filter:grayscale(100%) invert(37%) sepia(10%) saturate(420%) hue-rotate(169deg) brightness(98%) contrast(87%);
    transition: all .5s;
    width: 75%;
    margin: 0 auto;

}

.slider-gradiant .uk-slider-container a:hover .uk-panel{
    filter: unset;
    transform: scale(1.1, 1.1);
    transition: all .5s;
}


.slider-gradiant .item-text{
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 28px;
    color: gray;
}

.slider-gradiant .uk-slider-container a:hover .item-text{
    color: black;
}

.x-wrapper img{
    width: 100%;
}

.x-text{
    margin: auto;
    width: 75%;
    padding: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: justify;
}

.x-wrapper img{
    object-fit: cover;
    height: 100%;
}


@media screen and (max-width: 991px){
    .nav-tabs-vertical{
        flex-direction: row;
        justify-content: center;
    }

    .nav-tabs-vertical .nav-link{
        border: 0;
        border-radius: 5px 5px 0 0;
    }
    .nav-tabs-vertical .nav-link.active{
        border: solid 1px white;
        border-bottom: solid 1px transparent;
        box-sizing: border-box;
        margin-left: -1px;
    }
    .nav-tabs-vertical ~ .tab-content{
        border-radius: 5px;
    }
}

@media screen and (min-width: 992px) {
    .navbar {
        border-bottom: solid 1px black;
        padding: 0;
    }

    .nav-item {
        color: #666;
        display: inline-block;
        margin: 0;
        text-transform: uppercase;
    }

    .nav-item:after {
        display: block;
        content: '';
        border-bottom: solid 2px black;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }

    .nav-item:hover:after {
        transform: scaleX(1);
    }

    .nav-item.fromRight:after {
        transform-origin: 100% 50%;
    }

    .nav-item.fromLeft:after {
        transform-origin: 0% 50%;
    }
    .slider-gradiant{
        width: 80%;
        margin: auto;
    }
    .slider-gradiant .item-text{
        font-size: 32px;
    }
    .x-text{
        font-size: 25px;
    }
}